<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerLinks}}
</head>
<body>
  {{>navbar}}

    <!-- Main header -->
      <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
               <!-- right side div -->
              <div class="col-md-12 col-12 main_header_left align-items-center ">
                <figure>
                    <img src="images/bg1.jpeg" class="img-fluidxx" title="Ekansh Soni" alt="">
                </figure>
                <p><b>{{errorMsg}}</b></p>
                <h1>You Had Entered <span class="text-clr">Wrong Redirection</span>. Otherwise server is <span style="color:green;">Ok</span></h1>
                <a href="/"><button>Back to Pavillion</button></a>
              </div>
 
            </div>
          </div>
x      </div>
    </div>
  
      <!-- footer -->
  {{>footer}}
 
</body>
</html>