    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
               <!-- right side div -->
              <div class="col-md-6 col-12 main_header_right align-items-center ">
                <figure>
                    <img src="images/bg1.jpeg" class="img-fluidxx" title="Ekansh Soni" alt="">
                </figure>

              </div>
              <!-- left side div -->
              <div class="col-md-6 col-12 main_header_left">
                <p>Ekansh Soni</p>
                <h1>I Am A <span class="text-clr">Mern Stack Developer</span> YouTuber and a Freelancer</h1>
                <a href=""><button>About Me</button></a>
              </div>
 
            </div>
          </div>
      </div>
    </div>